.todo-list {
  &__title {
    font-size: 23px;
    text-align: center;
    margin-bottom: 1em;
  }
  &__group {
    &-item {
      border-bottom: 1px solid #eee;
    
      &:last-child {
        border-bottom-color: transparent;
      }
    }
  }
}
